# First revision by GG
**/Makefile
**/Makefile.in
.aclocal.out
.autoconf.out
.autoheader.out
.automake.out
aclocal.m4
autom4te.cache
build/*
compile
config.log
config.status
configure
data/common/vice.gresource
depcomp
doc/.vice-texi-charset-ok
doc/vice.pdf
missing
src/**/.deps/
src/*.o
src/*/*.a
src/*/*.o
src/*/*/*.[oa]
src/arch/**/*.[oa]
src/arch/android/AnVICE/AndroidManifest.xml
src/arch/gtk3/novte/box_drawing.h
src/arch/gtk3/novte/marshal.cc
src/arch/gtk3/novte/marshal.h
src/arch/gtk3/novte/vtetypebuiltins.cc
src/arch/gtk3/novte/vtetypebuiltins.h
src/c1541
src/c64/psiddrv.h
src/c64/psiddrv.o65
src/cartconv
src/config.h
src/config.h.in
src/debug.h
src/drive/*/*.[oa]
src/drive/iec/*/*.[oa]
src/infocontrib.h
src/monitor/mon_lex.c
src/monitor/mon_parse.c
src/monitor/mon_parse.h
src/petcat
src/resid-dtv/COPYING
src/resid-dtv/INSTALL
src/resid-dtv/aclocal.m4
src/resid-dtv/siddtvdefs.h
src/resid/COPYING
src/resid/INSTALL
src/resid/aclocal.m4
src/resid/siddefs.h
src/resid/wave6581_PST.h
src/resid/wave6581_PS_.h
src/resid/wave6581_P_T.h
src/resid/wave6581__ST.h
src/resid/wave8580_PST.h
src/resid/wave8580_PS_.h
src/resid/wave8580_P_T.h
src/resid/wave8580__ST.h
src/stamp-h1
src/svnversion.h
src/version.h
src/vice-version.sh
src/vsid
src/x128
src/x64dtv
src/x64sc
src/xcbm2
src/xcbm5x0
src/xpet
src/xplus4
src/xscpu64
src/xvic
ylwrap
